<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6978e1dd-4bdf-46b9-abff-bb339277ebbe/resourcegroups/AIBStore/providers/Microsoft.Web/sites/AIBStoreWebAPI</ResourceId>
    <ResourceGroup>AIBStore</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aibstorewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aibstorewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AIBStoreWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AIBStoreWebAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ELMAHErrorLog" Order="1" Enabled="False">
          <Destination Path="Data Source=mikmyers.database.windows.net;Initial Catalog=Elmah;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mikmyers.database.windows.net;Initial Catalog=Elmah;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ELMAHErrorLog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mikmyers.database.windows.net;Initial Catalog=Elmah;Integrated Security=SSPI;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EFDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=mikmyers.database.windows.net;Initial Catalog=aibstoredb;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mikmyers.database.windows.net;Initial Catalog=aibstoredb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EFDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=mikmyers.database.windows.net;Initial Catalog=aibstoredb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ELMAHErrorLog-Web.config Connection String">
      <ParameterValue>Data Source=mikmyers.database.windows.net;Initial Catalog=Elmah;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=mikmyers.database.windows.net;Initial Catalog=aibstoredb;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ELMAHErrorLog-Web.config Connection String">
      <ParameterValue>Data Source=mikmyers.database.windows.net;Initial Catalog=Elmah;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=mikmyers.database.windows.net;Initial Catalog=aibstoredb;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>